{% extends "base.html" %}
{% block title %}Register - Easy Social{% endblock %}
{% block extra_head %}
  {% if config['TURNSTILE_SITE_KEY'] %}
  <script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>
  {% endif %}
{% endblock %}
{% block content %}
  <section class="auth-panel">
    <h1>Create account</h1>
    <form method="post" class="form-stack">
      <label>
        Username
        <input name="username" maxlength="40" autocomplete="username" required>
      </label>
      <label>
        Email
        <input name="email" type="email" autocomplete="email" required>
      </label>
      <label>
        Password
        <input name="password" type="password" autocomplete="new-password" required>
      </label>
      {% if config['TURNSTILE_SITE_KEY'] %}
      <div class="cf-turnstile" data-sitekey="{{ config['TURNSTILE_SITE_KEY'] }}"></div>
      {% endif %}
      <button type="submit">Register</button>
    </form>
    <p class="muted">Already registered? <a href="{{ url_for('auth.login') }}">Log in</a>.</p>
  </section>
{% endblock %}

